/* ------------------------------------------------------ *\
   color-scale
\* ------------------------------------------------------ */
:root {
  --cs-color: darkred;
  --cs-variance: 20;
}

.primary { background: cs(0); }
.primary--dark { background: cs(-1); }
.primary--light { background: cs(1); }

