/* ------------------------------------------------------ *\
   media queries
   - custom-media
   - media-minmax
   - if-media
   - alias-atrules
   - simple-variables
   - discard-empty
\* ------------------------------------------------------ */

$sm: 600px;
$md: 1280px;

@breakpoint --sm only screen and (width <= $sm);
@breakpoint --md only screen and ($sm < width < $md);
@breakpoint --lg only screen and (width >= $md);

body {
  background: red ?if media (--sm);
  background: blue ?if media (--md);
  background: yellow ?if media (--lg);
}
