/* ------------------------------------------------------ *\
   responsive-type
\* ------------------------------------------------------ */
html {
  font-size: 16px;
  font-size: responsive 12px 20px;
  font-range: 600px 1280px;
}
